/* ../frontend/src/styles/LoadingSpinner.css */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
    width: 6em;
    padding: 1.2em;
    will-change: filter;
    transition: filter 300ms;
  }

.common {
    max-height: 100%;
    overflow: auto;
    margin: auto;
    max-width: 100%;
    border-radius: 0em 10em 0em 10em;
    box-shadow: inset 0em 0em 0em .1em #E645D0, 0em 0em 1.5em 0em #E645D0;
  }
  
.one {
  transform: rotate(45deg);
}

.two {
  transform: rotate(90deg);
}

.three {
  transform: rotate(135deg);
}

.four {
  transform: rotate(180deg);
}

.five {
  transform: rotate(225deg);
}

.six {
  transform: rotate(270deg);
}

.seven {
  transform: rotate(315deg);
}

.eight {
  transform: rotate(360deg);
}

.one {
  animation: one 1s ease infinite;
  -moz-animation: one 1s ease infinite;
  /* Firefox */
  -webkit-animation: one 1s ease infinite;
  /* Safari and Chrome */
  -o-animation: one 1s ease infinite;
  /* Opera */
}

@keyframes one {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.two {
  animation: two 1s .125s ease infinite;
  -moz-animation: two 1s .125s ease infinite;
  /* Firefox */
  -webkit-animation: two 1s .125s ease infinite;
  /* Safari and Chrome */
  -o-animation: two 1s .125s ease infinite;
  /* Opera */
}

@keyframes two {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.three {
  animation: three 1s .25s ease infinite;
  -moz-animation: three 1s .25s ease infinite;
  /* Firefox */
  -webkit-animation: three 1s .25s ease infinite;
  /* Safari and Chrome */
  -o-animation: three 1s .25s ease infinite;
  /* Opera */
}

@keyframes three {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.four {
  animation: four 1s .375s ease infinite;
  -moz-animation: four 1s .375s ease infinite;
  /* Firefox */
  -webkit-animation: four 1s .375s ease infinite;
  /* Safari and Chrome */
  -o-animation: four 1s .375s ease infinite;
  /* Opera */
}

@keyframes four {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.five {
  animation: five 1s .5s ease infinite;
  -moz-animation: five 1s .5s ease infinite;
  /* Firefox */
  -webkit-animation: five 1s .5s ease infinite;
  /* Safari and Chrome */
  -o-animation: five 1s .5s ease infinite;
  /* Opera */
}

@keyframes five {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.six {
  animation: six 1s .625s ease infinite;
  -moz-animation: six 1s .625s ease infinite;
  /* Firefox */
  -webkit-animation: six 1s .625s ease infinite;
  /* Safari and Chrome */
  -o-animation: six 1s .625s ease infinite;
  /* Opera */
}

@keyframes six {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.seven {
  animation: seven 1s .750s ease infinite;
  -moz-animation: seven 1s .750s ease infinite;
  /* Firefox */
  -webkit-animation: seven 1s .750s ease infinite;
  /* Safari and Chrome */
  -o-animation: seven 1s .750s ease infinite;
  /* Opera */
}

@keyframes seven {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.eight {
  animation: eight 1s .875s ease infinite;
  -moz-animation: eight 1s .875s ease infinite;
  /* Firefox */
  -webkit-animation: eight 1s .875s ease infinite;
  /* Safari and Chrome */
  -o-animation: eight 1s .875s ease infinite;
  /* Opera */
}

@keyframes eight {
  0%,
  100% {}
  50% {
    /* background: ; */
    box-shadow: inset 0em 0em 0em .1em #17E1E6, 0em 0em 1.5em 0em #17E1E6;
  }
}

.container {
  animation: container 5s linear infinite;
  -moz-animation: container 5s linear infinite;
  /* Firefox */
  -webkit-animation: container 5s linear infinite;
  /* Safari and Chrome */
  -o-animation: container 5s linear infinite;
  /* Opera */
}

@keyframes container {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.fade-in {
  animation: fade-in 2s ease;
  -moz-animation: fade-in 2s ease;
  /* Firefox */
  -webkit-animation: fade-in 2s ease;
  /* Safari and Chrome */
  -o-animation: fade-in 2s ease;
  /* Opera */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.out {
  animation: out 2s 15s ease;
  -moz-animation: out 2s 15s ease;
  /* Firefox */
  -webkit-animation: out 2s 15s ease;
  /* Safari and Chrome */
  -o-animation: out 2s 15s ease;
  /* Opera */
}

@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
